<ion-header [translucent]="true" class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="vertical-spacer ion-hide-lg-down"></div>

  <ion-toolbar class="ion-hide-lg-down">
    <ion-title class="ion-padding-horizontal"><h1>Notificações</h1></ion-title>
  </ion-toolbar>

  <div class="ion-padding">
    <p>Em breve :)</p>
  </div>

</ion-content>
