/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* C3 library CSS */
@import "~c3/c3.min.css";

.font-alternative {
    font-family: 'DM Sans', 'Inter', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.font-tabular-number {
    font-variant: tabular-nums;
}

.font-large {
    font-size: 2.5em;
}

.font-medium {
    font-size: 1.5em;
}

.font-uppercase-title {
    text-transform: uppercase;
    font-size: 1em;
}

.font-uppercase-small {
    text-transform: uppercase;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    background-color: rgb(var(--ion-color-primary-rgb), 0.075);
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease;
}

a:hover {
    background-color: rgb(var(--ion-color-primary-rgb), 0.15)
}
  

ul.button-set {
    list-style-type: none;
    padding: 0
}

.md .toolbar-logo {
    height: 2.5em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
}

.no-left-padding {
    padding-left: 0px;
}

.ios .toolbar-logo {
    height: 1.6em;
    padding-top: 0.2em
}

.vertical-spacer {
    height: 1.25em;
}

h1, h2, h3, h4, h5, p {
    ion-icon {
      vertical-align: middle;
      padding-bottom: 3px;
    }
}
