/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* C3 library CSS */
@import "~c3/c3.min.css";

/* Tippy CSS library */
@import 'tippy.js/dist/tippy.css';

/* Fonte */

.font-alternative {
    font-family: 'DM Sans', 'Inter', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.font-tabular-number {
    font-variant: tabular-nums;
}

.font-large {
    font-size: 2.5em;
}

.font-medium {
    font-size: 1.5em;
}

.font-uppercase-title {
    text-transform: uppercase;
    font-size: 1em;
}

.font-uppercase-small {
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Links */

a {
    text-decoration: none;
    background-color: rgb(var(--ion-color-primary-rgb), 0.075);
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease;
}

a:hover {
    background-color: rgb(var(--ion-color-primary-rgb), 0.15)
}
  

ul.button-set {
    list-style-type: none;
    padding: 0
}

/* Toolbar */

.md .toolbar-logo {
    height: 2.5em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
}

.ios .toolbar-logo {
    height: 1.6em;
    padding-top: 0.2em
}

/* Elementos diversos */

.no-left-padding {
    padding-left: 0px;
}

.vertical-spacer {
    height: 1.25em;
}

h1, h2, h3, h4, h5, p {
    ion-icon {
      vertical-align: middle;
      padding-bottom: 3px;
    }
}

.full-width {
    width: 100%
}

.seven-tenths-width {
    width: 70%
}

.fifth-width {
    width: 20%
}

.height-large {
    height: 2.5em;
}

.height-medium {
    height: 1.5em;
}

.height-normal {
    height: 1em;
}

/* Tooltips */

.tippy-box a {
    color: #a2b5ec;
}

.box-tooltip {
    position: absolute;
    top: -2px;
    right: -2px;
    
    ion-icon {
        font-size: 1.5em;
    }
}

.tooltip-icon {
    font-size: 1.5em; 
}

.evolution-chart {
    margin-left: -1em;
    margin-right: 1em;
}

/* C3 Charts */

.glance-chart {
    height: 2em;
    margin-top: 0.5em;

    .c3-chart {
        clip-path: none;
    }
}

.c3-line {
    stroke-width: 2px;
}

.c3-legend-item, .c3-axis-x text, .c3-axis-y text {
    font-family: var(--ion-font-family);
    font-size: 12px;
}

.c3-tooltip-container .c3-tooltip th {
    background-color: var(--ion-color-dark);
}
