<ion-header [translucent]="true" class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="toolbar-logo" alt="Radar Coronavírus Irará" src="../../assets/logos/coronavirus-irara-logo.svg"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="vertical-spacer ion-hide-lg-down"></div>

  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <p class="font-bold ion-no-margin" *ngIf="rtdbData.lastTotalDayEntry">Atualizado por último {{ rtdbData.humanReadableLastUpdate }} </p>
        <p class="ion-no-margin" *ngIf="rtdbData.lastTotalDayEntry">via Instagram da Prefeitura de Irará (<a href="https://instagr.am/prefeiturairara">@prefeiturairara</a>), último boletim publicado em {{ rtdbData.humanReadableLastBulletin }}</p>

        <p class="font-bold ion-no-margin" *ngIf="!rtdbData.lastTotalDayEntry">Um momento...</p>
        <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated class="full-width height-normal"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated class="fifth-width height-normal"></ion-skeleton-text>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-button class="font-bold ion-hide" expand="block" shape="round" fill="outline" color="primary">
          <ion-icon slot="start" name="server"></ion-icon>
          Alterar fonte de dados
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="ion-padding-horizontal ion-text-center">
    <ion-row class="ion-justify-content-between">
      <ion-col size-xs="6" size-md="3">
        <div class="colored-box danger-box">
          <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Confirmados</h1>

          <ion-text color="danger">

            <div *ngIf="rtdbData.lastTotalDayEntry" class="main-data-container">
              <p class="font-tabular-number font-large font-bold ion-no-margin">{{ rtdbData.lastTotalDayEntry.casos_confirmados.total }}</p>
              <p class="ion-no-margin font-tabular-number diff-container">
                <ion-icon aria-label="aumentou" *ngIf="rtdbData.lastTotalDayEntry.diff_confirmados > 0" name="chevron-up"></ion-icon>
                <ion-icon aria-label="reduziu" *ngIf="rtdbData.lastTotalDayEntry.diff_confirmados < 0" name="chevron-down"></ion-icon>
                <span *ngIf="rtdbData.lastTotalDayEntry.diff_confirmados != 0">{{ rtdbData.lastTotalDayEntry.diff_confirmados }}</span>
              </p>
            </div>

            <div *ngIf="rtdbData.lastTotalDayEntry" class="box-tooltip" tabindex="0" id="confirmed-tooltip" aria-label="Mais informações"><ion-icon color="medium" name="information-circle"></ion-icon></div>

            <div id="confirmed-glance-chart"></div>

            <div *ngIf="!rtdbData.lastTotalDayEntry">
              <p class="font-tabular-number font-large font-bold ion-no-margin"><ion-spinner color="danger"></ion-spinner></p>
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" class="full-width diff-container" animated></ion-skeleton-text>
            </div>

          </ion-text>

        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="3">
        <div class="colored-box primary-box">
          <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Ativos</h1>

          <ion-text color="primary">

            <div *ngIf="rtdbData.lastTotalDayEntry" class="main-data-container">
              <p class="font-tabular-number font-large font-bold ion-no-margin">{{ rtdbData.lastTotalDayEntry.casos_ativos.total }}</p>
              <p class="ion-no-margin font-tabular-number diff-container">
                <ion-icon aria-label="aumentou" *ngIf="rtdbData.lastTotalDayEntry.diff_ativos > 0" name="chevron-up"></ion-icon>
                <ion-icon aria-label="reduziu" *ngIf="rtdbData.lastTotalDayEntry.diff_ativos < 0" name="chevron-down"></ion-icon>
                <span *ngIf="rtdbData.lastTotalDayEntry.diff_ativos != 0">{{ rtdbData.lastTotalDayEntry.diff_ativos }}</span>
              </p>
            </div>

            <div *ngIf="rtdbData.lastTotalDayEntry" class="box-tooltip" tabindex="0" id="active-tooltip" aria-label="Mais informações"><ion-icon color="medium" name="information-circle"></ion-icon></div>

            <div id="active-glance-chart"></div>

            <div *ngIf="!rtdbData.lastTotalDayEntry">
              <p class="font-tabular-number font-large font-bold ion-no-margin"><ion-spinner color="primary"></ion-spinner></p>
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" class="full-width diff-container" animated></ion-skeleton-text>
            </div>

          </ion-text>

        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="3">
        <div class="colored-box success-box">
          <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Recuperados</h1>
          
          <ion-text color="success">

            <div *ngIf="rtdbData.lastTotalDayEntry" class="main-data-container">
              <p class="font-tabular-number font-large font-bold ion-no-margin">{{ rtdbData.lastTotalDayEntry.casos_recuperados }}</p>
              <p class="ion-no-margin font-tabular-number diff-container">
                <ion-icon aria-label="aumentou" *ngIf="rtdbData.lastTotalDayEntry.diff_recuperados > 0" name="chevron-up"></ion-icon>
                <ion-icon aria-label="reduziu" *ngIf="rtdbData.lastTotalDayEntry.diff_recuperados < 0" name="chevron-down"></ion-icon>
                <span *ngIf="rtdbData.lastTotalDayEntry.diff_recuperados != 0">{{ rtdbData.lastTotalDayEntry.diff_recuperados }}</span>
              </p>
            </div>

            <div *ngIf="rtdbData.lastTotalDayEntry" class="box-tooltip" tabindex="0" id="recovered-tooltip" aria-label="Mais informações"><ion-icon color="medium" name="information-circle"></ion-icon></div>
            
            <div id="recovered-glance-chart"></div>

            <div *ngIf="!rtdbData.lastTotalDayEntry">
              <p class="font-tabular-number font-large font-bold ion-no-margin"><ion-spinner color="success"></ion-spinner></p>
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" class="full-width diff-container" animated></ion-skeleton-text>
            </div>

          </ion-text>

        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="3">
        <div class="colored-box medium-box">
          <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Óbitos</h1>
          <ion-text color="medium">

            <div *ngIf="rtdbData.lastTotalDayEntry" class="main-data-container">
              <p class="font-tabular-number font-large font-bold ion-no-margin">{{ rtdbData.lastTotalDayEntry.obitos }}</p>
              <p class="ion-no-margin font-tabular-number diff-container">
                <ion-icon aria-label="aumentou" *ngIf="rtdbData.lastTotalDayEntry.obitos > 0" name="chevron-up"></ion-icon>
                <ion-icon aria-label="reduziu" *ngIf="rtdbData.lastTotalDayEntry.obitos < 0" name="chevron-down"></ion-icon>
                <span *ngIf="rtdbData.lastTotalDayEntry.obitos != 0">{{ rtdbData.lastTotalDayEntry.obitos }}</span>
              </p>
            </div>

            <div *ngIf="rtdbData.lastTotalDayEntry" class="box-tooltip" tabindex="0" id="deceased-tooltip" aria-label="Mais informações"><ion-icon color="medium" name="information-circle"></ion-icon></div>

            <div id="deceased-glance-chart"></div>

            <div *ngIf="!rtdbData.lastTotalDayEntry">
              <p class="font-tabular-number font-large font-bold ion-no-margin"><ion-spinner color="medium"></ion-spinner></p>
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" class="full-width diff-container" animated></ion-skeleton-text>
            </div>

          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="ion-padding-horizontal ion-padding-bottom">
    <ion-row>
      <ion-col size-xs="12" size-md="6" class="ion-no-padding">
        <ion-grid>
          <div class="vertical-spacer ion-hide-md-down"></div>

          <ion-row class="ion-align-items-center">
            <ion-col size="3" *ngIf="rtdbData.lastTotalDayEntry"><p class="font-bold font-medium font-tabular-number ion-no-margin">{{rtdbData.lastTotalDayEntry.testes_realizados.total}}</p></ion-col>
            <ion-col size="3" *ngIf="!rtdbData.lastTotalDayEntry">
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated class="seven-tenths-width height-large"></ion-skeleton-text>
            </ion-col>
            <ion-col size="9"><p class="ion-no-margin"><span class="font-bold font-uppercase-title">Testes rápidos realizados</span></p></ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col size="3" *ngIf="rtdbData.lastTotalDayEntry"><p class="font-bold font-tabular-number ion-no-margin">{{ rtdbData.lastTotalDayEntry.testes_realizados.rapidos.negativos }}</p></ion-col>
            <ion-col size="3" *ngIf="!rtdbData.lastTotalDayEntry">
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated style="width: 70%; height: 1em"></ion-skeleton-text>
            </ion-col>
            <ion-col size="9"><p class="ion-no-margin">Negativo por testes rápidos</p></ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col size="3" *ngIf="rtdbData.lastTotalDayEntry"><p class="font-bold font-tabular-number ion-no-margin">{{ rtdbData.lastTotalDayEntry.testes_realizados.rapidos.positivos }}</p></ion-col>
            <ion-col size="3" *ngIf="!rtdbData.lastTotalDayEntry">
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated style="width: 70%; height: 1em"></ion-skeleton-text>
            </ion-col>
            <ion-col size="9"><p class="ion-no-margin">Positivo por testes rápidos</p></ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-margin-top">
            <ion-col size="3" *ngIf="rtdbData.lastTotalDayEntry"><p class="font-bold font-medium font-tabular-number ion-no-margin">{{ rtdbData.lastTotalDayEntry.casos_monitorados }}</p></ion-col>
            <ion-col size="3" *ngIf="!rtdbData.lastTotalDayEntry">
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated class="seven-tenths-width height-large"></ion-skeleton-text>
            </ion-col>
            <ion-col size="9"><p class="ion-no-margin"><span class="font-bold font-uppercase-title">Casos monitorados </span><ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="monitored-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon></p>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-margin-top">
            <ion-col size="3" *ngIf="rtdbData.lastTotalDayEntry"><p class="font-bold font-medium font-tabular-number ion-no-margin">{{ rtdbData.lastTotalDayEntry.casos_suspeitos }}</p></ion-col>
            <ion-col size="3" *ngIf="!rtdbData.lastTotalDayEntry">
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated class="seven-tenths-width height-large"></ion-skeleton-text>
            </ion-col>
            <ion-col size="9"><p class="ion-no-margin"><span class="font-bold font-uppercase-title">Casos suspeitos </span><ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="suspected-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon></p></ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-margin-top">
            <ion-col size="3" *ngIf="rtdbData.lastTotalDayEntry"><p class="font-bold font-medium font-tabular-number ion-no-margin">{{ rtdbData.lastTotalDayEntry.casos_descartados }}</p></ion-col>
            <ion-col size="3" *ngIf="!rtdbData.lastTotalDayEntry">
              <ion-skeleton-text *ngIf="!rtdbData.lastTotalDayEntry" animated class="seven-tenths-width height-large"></ion-skeleton-text>
            </ion-col>
            <ion-col size="9"><p class="ion-no-margin"><span class="font-bold font-uppercase-title">Casos descartados </span><ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="discarded-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon></p></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      
      <ion-col size-xs="12" size-md="6">
        <ion-grid>
          <ion-text color="primary"><h1 class="font-bold font-alternative">Ativos por localidade</h1></ion-text>

          <ng-container *ngIf="rtdbData.lastByLocationDayEntries">
          <ion-row *ngFor="let locationEntry of rtdbData.lastByLocationDayEntries" class="ion-align-items-center">
            <ion-col size="3" class="no-left-padding"><p class="font-bold font-medium font-tabular-number ion-no-margin">{{ locationEntry.ativos.total }}</p></ion-col>
            <ion-col size="9"><p class="ion-no-margin"> {{ locationEntry.localidade }} </p></ion-col>
          </ion-row>
          </ng-container>

        </ion-grid>
      </ion-col>


      <ion-col size-xs="12" size-md="6">
        <ion-grid>
  
          <ion-text color="primary"><h1 class="font-bold font-alternative">Evolução</h1></ion-text>
          <p>Em breve, terão gráficos de evolução por aqui.</p>
        </ion-grid>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-grid>

          <ion-text color="primary"><h1 class="font-bold font-alternative">Indicadores</h1></ion-text>

          <ion-row class="ion-align-items-center">
            <ion-col size="6" class="no-left-padding"><p class="font-bold font-medium font-tabular-number ion-no-margin">{{ targetLocation }}</p></ion-col>
            <ion-col size="6" class="ion-text-right">
              <p class="ion-no-margin font-uppercase-title font-bold">População</p>
              <p *ngIf="rtdbData.additionalData" class="ion-no-margin font-tabular-number">
                <ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="population-source-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon>
                {{ rtdbData.additionalData[targetLocation].populacao.quantidade }}
              </p>
              <ion-skeleton-text *ngIf="!rtdbData.additionalData" animated class="full-width height-normal"></ion-skeleton-text>

            </ion-col>
          </ion-row>

          <div class="colored-box primary-box ion-margin-vertical">
            <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Porcentagem de casos ativos
              <ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="insight-active-cases-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon>
            </h1>

            <div>
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size-xs="4">
                    <ion-text color="primary">
                      <p *ngIf="rtdbData.percentageOfActiveCases" class="ion-no-margin font-bold font-large">{{ rtdbData.percentageOfActiveCases }}%</p>
                      <ion-skeleton-text *ngIf="!rtdbData.percentageOfActiveCases" animated class="seven-tenths-width height-large"></ion-skeleton-text>
                    </ion-text>
                  </ion-col>
            
                  <ion-col size-xs="8" class="ion-text-right">
                    <p *ngIf="rtdbData.percentageOfActiveCases" class="ion-margin-vertical">Para cada 100 casos confirmados, {{ rtdbData.percentageOfActiveCases }} estão infectados atualmente.</p>
                    <ion-skeleton-text *ngIf="!rtdbData.percentageOfActiveCases" animated class="full-width height-normal"></ion-skeleton-text>
                    <ion-skeleton-text *ngIf="!rtdbData.percentageOfActiveCases" animated class="full-width height-normal"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
            
              </ion-grid>
            </div>
          </div>

          <div class="colored-box success-box ion-margin-vertical">
            <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Taxa de recuperação
              <ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="insight-recovery-rate-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon>
            </h1>
            <div>
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size-xs="4">
                    <ion-text color="success">
                      <p *ngIf="rtdbData.recoveryRate" class="ion-no-margin font-bold font-large">{{ rtdbData.recoveryRate }}%</p>
                      <ion-skeleton-text *ngIf="!rtdbData.recoveryRate" animated class="seven-tenths-width height-large"></ion-skeleton-text>
                    </ion-text>
                  </ion-col>
            
                  <ion-col size-xs="8" class="ion-text-right">
                    <p *ngIf="rtdbData.recoveryRate" class="ion-margin-vertical">Para cada 100 casos confirmados, {{ rtdbData.recoveryRate }} estão recuperados hoje.</p>
                    <ion-skeleton-text *ngIf="!rtdbData.recoveryRate" animated class="full-width height-normal"></ion-skeleton-text>
                    <ion-skeleton-text *ngIf="!rtdbData.recoveryRate" animated class="full-width height-normal"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
            
              </ion-grid>
            </div>
          </div>

          <div class="colored-box medium-box ion-margin-vertical">
            <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Taxa de mortalidade
              <ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="insight-mortality-rate-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon>
            </h1>
            <div>
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size-xs="4">
                      <p *ngIf="rtdbData.mortalityRate" class="ion-no-margin font-bold font-large">{{ rtdbData.mortalityRate }}%</p>
                      <ion-skeleton-text *ngIf="!rtdbData.mortalityRate" animated class="seven-tenths-width height-large"></ion-skeleton-text>
                  </ion-col>
            
                  <ion-col size-xs="8" class="ion-text-right">
                    <p *ngIf="rtdbData.mortalityRate" class="ion-margin-vertical">Para cada 100 casos confirmados, aproximadamente {{ rtdbData.mortalityRate }} vieram a óbito.</p>
                    <ion-skeleton-text *ngIf="!rtdbData.mortalityRate" animated class="full-width height-normal"></ion-skeleton-text>
                    <ion-skeleton-text *ngIf="!rtdbData.mortalityRate" animated class="full-width height-normal"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
            
              </ion-grid>
            </div>
          </div>

          <div class="colored-box danger-box ion-margin-vertical">
            <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Média de crescimento
              <ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="insight-growth-rate-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon>
            </h1>
            <div>
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size-xs="4">
                    <ion-text color="danger">
                      <p *ngIf="rtdbData.averageGrowthRate" class="ion-no-margin font-bold font-medium">{{ rtdbData.averageGrowthRate }}%</p>
                      <ion-skeleton-text *ngIf="!rtdbData.averageGrowthRate" animated class="seven-tenths-width height-large"></ion-skeleton-text>  
                    </ion-text>
                  </ion-col>
            
                  <ion-col size-xs="8" class="ion-text-right">
                    <p *ngIf="rtdbData.averageGrowthRate" class="ion-margin-vertical">Na última semana, o número de novas infecções cresceu em média {{ rtdbData.averageGrowthRate }}% a cada dia.</p>
                    <ion-skeleton-text *ngIf="!rtdbData.averageGrowthRate" animated class="full-width height-normal"></ion-skeleton-text>
                    <ion-skeleton-text *ngIf="!rtdbData.averageGrowthRate" animated class="full-width height-normal"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
            
              </ion-grid>
            </div>
          </div>

          <div class="colored-box tertiary-box ion-margin-vertical">
            <h1 class="font-alternative font-bold font-uppercase-title ion-no-margin">Testes por mil
              <ion-icon *ngIf="rtdbData.lastTotalDayEntry" tabindex="0" class="tooltip-icon" id="insight-tests-thousand-tooltip" aria-label="Mais informações" color="medium" name="information-circle"></ion-icon>
            </h1>
            <div>
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-align-items-center">
                  <ion-col size-xs="4">
                    <ion-text color="tertiary">
                      <p *ngIf="rtdbData.testsPerThousand" class="ion-no-margin font-bold font-medium">{{ rtdbData.testsPerThousand }}</p>
                      <ion-skeleton-text *ngIf="!rtdbData.testsPerThousand" animated class="seven-tenths-width height-large"></ion-skeleton-text>  
                    </ion-text>
                  </ion-col>
            
                  <ion-col size-xs="8" class="ion-text-right">
                    <p *ngIf="rtdbData.testsPerThousand" class="ion-margin-vertical">Para cada mil pessoas em {{ targetLocation }}, aproximadamente {{ rtdbData.testsPerThousand }} foram testadas.</p>
                    <ion-skeleton-text *ngIf="!rtdbData.testsPerThousand" animated class="full-width height-normal"></ion-skeleton-text>
                    <ion-skeleton-text *ngIf="!rtdbData.testsPerThousand" animated class="full-width height-normal"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
            
              </ion-grid>
            </div>
          </div>
          
        </ion-grid>
      </ion-col>

      <p class="font-uppercase-small font-bold">
        2020, Radar Coronavírus Irará, parte do projeto Covid19 Municipal. <a routerLink="/about">Saiba mais</a>
      </p>

    </ion-row>

  </ion-grid>

</ion-content>
